body {
 background: rgb(219, 218, 218);
 font-family: verdana;
 max-width: 900px;
 min-width: 420px;
 margin: auto;
}

.photo {
 border: 1px solid black;
 border-radius: 50px;
 margin-top: 5px;
 margin-bottom: 15px;
 width: 100px;
}

#title, .subtitle, .post_title {
 margin: 0;
 margin-bottom: 15px;
 color: rgb(15, 15, 15);
 text-decoration: underline;
}

#title {
 font-size: 40px;
 text-transform: uppercase;
}

.post_title {
 font-size: 16px;
 font-style: italic;
 margin: 0;
 margin-bottom: 15px;
}

.post {
 background: #fff;  
 padding: 15px;
 border: 1px solid black;
 border-radius: 5px;
 margin-bottom: 15px;
}

.post_image {
 width: 100%;
 height: 250px; 
 margin-bottom: 15px 
}

.post_content {
 margin: 0;
 margin-bottom: 15px;
 text-transform: capitalize;
 text-align: center;
}

ul {
 display:flex;
 padding: 0;
 justify-content: space-around;
 flex-wrap: wrap;
}

li {
 list-style: none;
 padding: 5px;
}

a {
 color: black;
}

a:link, a:visited {
 background-color: #9b9898;
 padding: 14px 25px;
 border-radius: 5px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
}
  
a:hover, a:active {
 background-color: rgb(61, 61, 61);
}